$rojo : hsl(0,50%,50%);
$em   : 16;

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family:"open sans",sans-serif;
}
* {
  @include box;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/* MAIN CONTENT */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}

/* HEADER */

header {
  background-color:#333;
  color:white;
  margin:0;
  font-family:"open sans",sans-serif;
  position:absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index:2;
  @extend .clearfix;
}
#logo {
  width: 260px;
  height: 65px;
  margin: 0;
  float: left;
  padding: 5px 5px 5px 0;
  font-weight:normal;
  overflow: hidden;

  @include quiebres(portrait)
  {
    width:65px;
    padding:5px;
  }
  .logoFull {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 6em;
    line-height: 1;
    &:before {
      line-height: 0.305em;
      display: block;
    }
    @include quiebres(mobile) {
      display:none;
    }
  }
  .logoMinimal {
    display:none;
    font-size: 1.45em;
    width: 100%;
    height: 1em;
    line-height: 1;
    margin-top: 4px;
    @include quiebres(mobile) {
      display:block;
    }
  }
}
nav {
  width: 300px;
  float: right;
  text-align: right;
  @include quiebres {
    width: 250px;
    width: calc(100% - 65px);
  }


  svg {
    max-width:100%;
    max-height:100%;
    fill:white;
  }
  .lang {
    padding: 5px;
    text-decoration: none;
    font-size: 0.9em;
  }
  .menu {
    width: 65px;
    height: 65px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 2.3em;
    text-decoration:none;
    color:inherit;
    padding:13px;
    &.active {
      color:$rojo;
      background-color:white;
      svg {
        fill:$rojo;
      }
      &:link,&:visited {
        color:$rojo;
      }
      &:hover {
        background-color:$rojo;
        color:white;
        svg {
          fill:white;
        }
      }
    }
  }
  a:link,a:visited {
    color:white;
  }
  a:hover {
    background-color:$rojo;
    color:white;
  }
  a:before {
    width: 39px;
    height: 39px;
    display: block;
  }
}  

/* WARNING */
.warning {
  margin:1em auto;
  position:relative;
  .warningmsg {
    position:relative;
    border-radius:3px;
    padding:20px;
    background-color:$rojo;
    color:white;
    overflow:hidden;
    &:before {
      font-size:8em;
      position:absolute;
      right:0;
      top:-32%;
      display: block;
      color: hsla(0, 100%, 100%, 0.3);
      @include quiebres {
        top: -10%;
      }
    }
    .msgWrn {
      display: inline-block;
    }
  }
  .iconHandyman {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: -35%;
    &:before {
      font-size: 8em;
      opacity: .3;
    }
    @include quiebres(762)
    {
      top:-20%;
      &:before {
        font-size: 9em;
        opacity: .3;
      }
    }
  }
}


.profession {
  float: left;
  width:10%;
  padding:0.125em;
  [id*="icon-"] {
    width:100%;
    height:100%;
    display: block;
    fill:#333;
    position:absolute;
    top:0;
    left:0;
    padding:10px;
    & > span {
      display: block;
      height: inherit;
      text-align: center;
      font-size: 4.5em;
    }
  }
  @include quiebres(900)
  {
    width:12.5%;
  }
  @include quiebres(800)
  {
    width:14.2857143%;
  }
  @include quiebres(700)
  {
    width:16.6666667%;
  }
  @include quiebres(600)
  {
    width:20%;
  }
  @include quiebres(480)
  {
    width:25%;
    [id*="icon-"] > span {
      font-size: 3.5em;
    }
  }
  @include quiebres(370)
  {
    [id*="icon-"] > span {
      font-size: 2.5em;
    }
  }
  @include quiebres(320)
  {
    width:33.333333%;
  }
  a {
    width: 100%;
    display: block;
    padding-bottom: 100%;
    position:relative;
    border: 1px solid hsl(0, 0%, 80%);
    color: hsl(0, 0%, 35%);
    @include prefixer(border-radius,3px);
    &:link,&:visited {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      border-color:hsl(0, 50%, 70%);
      cursor:pointer;
      background-color:hsl(0,60%,90%);
    }
  }
  
  &.check {
    a {
      &,&:link,&:visited {
        border-color:hsl(0, 50%, 70%);
        background-color:$rojo;
        color:white;
      }
      [id*="icon-"] {
        fill:white;
      }
    }
    
  }
}

#data {
  margin-bottom: 1em;
}
.label-input {
  display:inline-block;
  margin-right:1em;
  margin-bottom: 0.5em;

  @include quiebres {
    width: 100%;
  }
}
.label-input__texto {
  width: 140px;
  display: inline-block;
}
.label-input__input {
  width: 150px;
  width: calc(100% - 150px);
}

input[type="text"] {
  background-color:white;
  margin-left: 0.25em;
  border:1px solid transparent;
  border-bottom:1px solid hsl(0,50%,80%);
  -webkit-appearance: none;
  border-radius:0;
  &:focus {
    outline:0;
    background-color:hsla(0, 0%, 85%, 0.1);
  }
}
#professions {
  margin-bottom:30px;
}

#level {
  margin-bottom:1em;
}
.levelInfo {
  border-radius:3px;
  padding:20px;
  background-color:hsl(0, 0%, 90%);
  color:#222;
  overflow:hidden;
  position:relative;

  &.error {
    background-color:#BF4040;
    color:white;
    @include animate(shake,0.8s,0,ease-in-out,1);
    .warningIco {
      display: block;
      font-size: 7em;
      color: hsla(0, 100%, 100%, 0.3);
      position: absolute;
      top: -39px;
      right: 24px;
    }
  }
  .iconProfession {
    position: absolute;
    right: 0;
    top: -35%;
    font-size: 8em;
    width: 125px;
    height: 125px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: .5;
    svg {
      width:100%;
      height:100%;
    }
  }
}

table {
  width: 100%;
  max-width: 100%;
  font-size: toEm(14);
  tr:nth-child(2n+1) {
    background-color:hsl(0, 0%, 97%);
  }
  th {
    font-weight:600;
    text-transform:uppercase;
    background-color:$rojo;
    border: 1px solid $rojo;
    color:white;
    padding:5px 10px;
  }
  td {
    padding:5px 10px;
    text-align:center;
    border: 1px solid hsl(0, 0%, 85%);
  }
}

#resultado {
  .gatheringProfession {
    margin-bottom:1em;
  }
  .crafts {
    margin-bottom:1em;
  }
} 

.slots {
  margin-bottom:30px;
  .slotTitle {
    text-transform:uppercase;
    margin-bottom:5px;
    cursor:pointer;
    
    .isBlocked,
    .isUseless,
    .isBlockUseless {
      display:none;
    }

    &.useless {
      .isUseless {
        display:inline-block;
        font-size: 0.55em;
        float: right;
        color: hsl(0, 0%, 60%);
        margin-top: 8px;
        @include quiebres {
          display:none;
        }
      }
    }
    &.blocked {
      .isBlocked {
        display:inline-block;
        font-size: 0.55em;
        float: right;
        color: hsl(0, 0%, 60%);
        margin-top: 8px;
        @include quiebres {
          display:none;
        }
      }
    }
    &.blocked,
    &.useless {
      color:hsl(0,0%,80%);
      .isBlockUseless {
        @include quiebres {
          display:inline-block;
          float: right;
          font-size: 1.4em;
        }
      }
    }

    strong {
      font-weight:400;
      font-size:1.1em;
      text-transform: uppercase;
    }
    span { 
      font-size:0.9em;
      font-weight:300;
      &.arrow {
        font-size: 1.5em;
        line-height: 0.3em;
        margin-right: 5px;
        vertical-align: bottom;
        @include transicion(all,0.125s);
        @include prefixer(transform,rotate(-90deg));
        display: inline-block;
        width: 24px;
        height: 24px;
      }
    }
  }
  .recipeList {
    padding: 1em;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 3px;
    .recipe {
      margin-bottom: 15px;
      strong {
        font-weight:600;
        text-transform: uppercase;
        vertical-align: middle;
      }
      .titleRecipe {
        display: table;
      }
      .recipe-box__icon,
      .recipe-box__text {
        display: table-cell;
      }
      .calcRecipe {
        font-size: 1.4em;
        vertical-align: middle;
        margin-right: 5px;
        line-height: 23px;
        border-radius:2px;
        display: inline-block;
        height: 22px;
        cursor:pointer;
        text-decoration: none;
        color:$rojo;
        border:1px solid transparent;
        &:hover {
          border-color:$rojo;
        }
        &.check {
          background-color:$rojo;
          color:white;
          border-color:$rojo;
        }
      }
      .nivel-receta {
        text-align: right;
        font-size: 0.8em;
        vertical-align: text-bottom;
      }
      .ingredientes {
        @include transicion;
      }
      .ingrediente {
        font-size: 0.9em;
        display: table;
        border-bottom: 1px solid hsl(0,0%,80%);
        padding-left: 25px;
        width: 100%;
      }
      .ingredQuantity,
      .ingredName {
        padding: 5px;
        display: table-cell;
      }
      .ingredQuantity {
        width: 90px;
        text-align: right;
        &.check {
          color: $rojo;
          font-weight: 600;
        }
      }
      .ingredName {

      }
    }
  }
  &.expanded {
    span.arrow {
      @include prefixer(transform,rotate(0));
    }
  }
}

.setLangContainer {
  font-size: 0.8em;
  margin-bottom: 2em;
  display: block;
}
.setLang {
  padding: 2px 4px;
  border-radius: 2px;
  cursor: pointer;
  &.activo {
    background-color: $rojo;
    color: hsl(0, 100%, 100%);
  }
}

.loader {
  &.activado {
    display:inline-block;
  }
  &.desactivado {
    display: none;
  }
}
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
[ng-cloak] {
  display:none;
}
.preloader {
  &[ng-cloak]
  {
    display:block !important;
    opacity:1;
    z-index:99;
  }
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $rojo;
  @include transicion(all,0.5s,ease-in-out,1s);
  opacity: 0;
  z-index: -1;
  .iconoPreload {
    display: block;
    height: 122px;
    width: 90px;
    margin: -66px -45px;
    position: absolute;
    top: 45%;
    left: 50%;
    color: hsl(0, 100%, 100%);
    @include prefixer(transform-origin,50% 50%);
    @include animate(tembleque,0.8s,0,$bounce,infinite);
    svg {
      fill:white;
    }
  }
}

.searchBox {
  margin-bottom: 1em;
  position:relative;
  .searchIcon {
    display: block;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    font-size: 1.3em;
    color: hsl(0, 0%, 50%);
  }
  input {
    width: 100%;
    padding: 5px;
    font-size: 1.2em;
    margin: 0;
  }
}

//HUNTER CALCULATOR
.hunterList {
  list-style-type: none;
  padding-left:0;
  display: table;
  width:100%;
  li {
    display: table-cell;
    width: 33.33333333%;
    text-align: center;
    a {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid #ccc;
      color: #333;
      text-decoration: none;
      &.init {
        border-radius:3px 0 0 3px;
      }
      &.end {
        border-radius:0 3px 3px 0;
      }
      &:hover {
        border-color: $rojo;
        color: $rojo;
      }
      &.activo {
        background-color: $rojo;
        color:white;
        border-color: $rojo;
      }
    }
  }
}
.searchBarHunterButcher {
  position:relative;

  .searchIcon {
    font-size: 2em;
    color: hsl(0, 0%, 65%);
    position: absolute;
    top: 50%;
    right: 0.5em;
    margin-top: -0.45em;
  }
  input {
    width: 100%;
    padding: 0.75em 1em;
    font-size: 1.5em;
  }
  .listRecipes {
    position:absolute;
    top:100%;
    list-style-type: none;
    padding:0;
    background-color:white;
    width:100%;
    max-height:300px;
    overflow:auto;
    margin:0;
  }
  .recipe {
    padding: 0.75em;
    font-size: 1.3em;
    p {
      margin: 0;
      font-size: 0.8em;
      color: hsl(0, 0%, 30%);
    }
    &:hover {
      background-color:hsl(0,0%,95%);
    }
  }
}
.displayRecipesHunterButcher {
  .recipe {
    display: table;
    width:100%;
    padding:0.5em 0;
    font-size:1.3em;
    .quantity,
    .name,
    .erase {
      display:table-cell;
    }
    .quantity {
      width:10%;
      vertical-align: top;
      input[type="number"]{
        height:100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border:1px solid lightgray;
        background-color: hsl(0, 0%, 95%);
        text-align: center;
      }
    }
    .name {
      width:70%;
      padding:0 0.5em;
    }
    .erase {
      font-size:1.6em;
      width:20%;
      background-color: $rojo;
      color:white;
      vertical-align: middle;
      text-align: center;
    }
    strong {
      display: block;
    }
    small {
      font-size:0.65em;
    }
  }
}

.listIngredients {
  list-style-type: none;
  padding:0;
  margin:0,auto 1em;
}
.ingredient {
  &:after {
    content: ',';
    margin-right: 5px;
  }
  &:last-child:after {
    content: '';
  }
  span {
    width:15%;
    display: table-cell;
    text-align: center;
    &.title {
      width:70%;
      text-align:left;
    }
  }
}

footer {
  background-color: white;
  .footerDeep {
    padding:0 1em 1em 1em;
    text-align:center;
    small {
      display: block;
    }
  }
}