<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <img src="assets/images/dofus_calculators_only.svg" alt="Dofus Calculators" id="dofus_calculators_only" class="visible-xs-block">
      <img src="assets/images/dofus_calculators.svg" alt="Dofus Calculators" id="dofus_calculators" class="hidden-xs">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
        <!--<li class="active"><a ng-href="#">Init</a></li>-->
      </ul>
    </div>
  </div>
</nav>
