<div class="fila" ng-if="warning">
    <div class="levelInfo error">
      <strong>ERROR!</strong>
      <span ng-if="$parent.$parent.main.lang==='en'">
      	Your <strong>End Level <em>({{profession.level}})</em></strong> is lower or equal than your <strong>Initial Level <em>({{ profession.levelInicial }})</em></strong>
      </span>
      <span ng-if="$parent.$parent.main.lang==='es'">
      	Tu <strong>Nivel Final <em>({{profession.level}})</em></strong> es menor o igual que tu <strong>Nivel Inicial <em>({{ profession.levelInicial }})</em></strong>
      </span>
    	<span class="icon-alert warningIco"></span>
    </div>
</div>