<div 
    class="slotTitle"
    ng-class="{ 
    	blocked: bloqueado,
    	useless: inutil
    }">
    <span class="icon-fontawesome-webfont-1 arrow"></span>
    <strong>{{ ::slots }} {{ main.texts.profession.slot[main.lang] }}</strong>
    <span ng-if="main.lang==='en'">
    	need {{ ::cantidad }} crafts
    </span>
    <span ng-if="main.lang==='es'">
    	Necesitas {{ ::cantidad }} recetas
    </span>
    <span class="isBlocked">
        {{ main.texts.profession.blocked[main.lang] }}
    </span>
    <span class="isUseless">
        {{ main.texts.profession.useless[main.lang] }}
    </span>
    <span class="icon-alert isBlockUseless"></span>
</div>