<navbar></navbar>

<div class="container dc-container__ingredients-calculator" ng-controller="MainController as vm">
	<div class="dc-container-lang">
		<button class="btn btn-xs" name="langEN" ng-click="vm.changeLang('en')" ng-class="{'btn-danger': vm.isLang('en'),'btn-link':!vm.isLang('en')}">EN</button>
		<button class="btn btn-xs" name="langES" ng-click="vm.changeLang('es')" ng-class="{'btn-danger': vm.isLang('es'),'btn-link':!vm.isLang('es')}">ES</button>
		<button class="btn btn-xs" name="langFR" ng-click="vm.changeLang('fr')" ng-class="{'btn-danger': vm.isLang('fr'),'btn-link':!vm.isLang('fr')}">FR</button>
	</div>

  <div class="row dc-ingredients-calculator">
		<search-bar ingredients="vm.ingredients" lang="vm.lang"></search-bar>

		<div class="dc-recipes">
			<table class="table">
				<tr ng-repeat="recipe in vm.ingredients.selectedRecipes" class="dc-recipe">
					<td class="dc-recipe__td-quantity">
						<input type="number" name="recipe-quantity" class="dc-recipe__quantity" ng-model="recipe.quantity" ng-change="vm.ingredients.onQuantityChange(recipe)">
					</td>
					<td>
						<div>
							<strong>{{ recipe.i18n[vm.lang] }}</strong>
						</div>
						<small ng-repeat="ingredient in recipe.linkedIngredients" class="ingredient">
							{{ vm.ingredients.ingredientsi18n[ingredient.name][vm.lang] + ' x '+ ingredient.value }}
							<em>({{recipe.quantity * ingredient.value}})</em>
						</small>
					</td>
					<td class="dc-recipe__td-delete">
						<div class="dc-recipe__delete" ng-click="vm.ingredients.deleteRecipe(recipe)">
							<i class="glyphicon glyphicon-trash"></i>
						</div>
					</td>
				</tr>
			</table>

		</div>
		<div class="dc-ingredients">
			<table class="table table-hover">
				<tr ng-if="!!vm.ingredients.selectedRecipes.length">
					<th>Name</th>
					<th>Quantity</th>
				</tr>
				<tr ng-repeat="(n,q) in vm.ingredients.listIngredients">
					<td>
						{{ vm.ingredients.ingredientsi18n[n][vm.lang] }}
					</td>
					<td>
						{{ q }}
					</td>
				</tr>
			</table>
		</div>
  </div><!-- dc-ingredients-calculator -->
</div><!-- dc-container -->
