<div class="fila hunterContainer">
	<h2>{{main.texts.hunter.h2[main.lang]}}</h2>
	<div class="hunterCalculatorContainer" ng-controller="HunterCalculatorController">
		<div class="setLangContainer">
			<span>{{main.texts.searchIn[main.lang]}}: </span>
			<a ng-click="hunterButcher.setLang('en')" ng-class="{activo:hunterButcher.language==='en'}" class="setLang">EN</a>
			<a ng-click="hunterButcher.setLang('es')" ng-class="{activo:hunterButcher.language==='es'}" class="setLang">ES</a>
			<a ng-click="hunterButcher.setLang('pt')" ng-class="{activo:hunterButcher.language==='pt'}" class="setLang">PT</a>
			<a ng-click="hunterButcher.setLang('fr')" ng-class="{activo:hunterButcher.language==='fr'}" class="setLang">FR</a>
			<a ng-click="hunterButcher.setLang('it')" ng-class="{activo:hunterButcher.language==='it'}" class="setLang">IT</a>
			<a ng-click="hunterButcher.setLang('de')" ng-class="{activo:hunterButcher.language==='de'}" class="setLang">DE</a>
		</div>
		<div class="searchBarHunterButcher">
			<input 	type="text"
							name="searchRecipeHunter" 
							id="searchRecipeHunter" 
							ng-model="hunterButcher.search"
							class="searchHunterButcher" 
							placeholder="{{main.texts.searchInput[main.lang]}}">
			<span class="icon-magnifying-glass searchIcon"></span>
			
			<input type="text" ng-model="search" ng-change="getRecipe()">
			<ul class="vertical listRecipes" ng-if="!!hunterButcher.search && hunterButcher.search.length > 3 ">
				<li class="recipe" 
						ng-repeat="(recipe,val) in hunterButcher.getRecipe(hunterButcher.search) track by $index"
						ng-if="hunterButcher.isSearched(val.i18n[hunterButcher.language])"
						ng-click="hunterButcher.addRecipe(recipe)">
					<strong>{{ val.i18n[hunterButcher.language] }}</strong>
					<p>
						(<small class="ingredient" ng-repeat="(name,q) in val.ingredients" ng-if="hunterButcher.nameExists(name)">
							{{ hunterButcher.nameExists(name) + ' x ' + q + helper.needComa($index,val) }}
						</small>)
					</p>
				</li>
			</ul>
		</div>
		<div class="displayRecipesHunterButcher">
			<div class="recipe" ng-repeat="(name,recipe) in hunterButcher.recipesToCalc">
				<div class="quantity">
					<input type="number" name="recipeQuantity" ng-model="recipe.quantity">
				</div>
				<div class="name">
					<strong>{{hunterButcher.recipes.totals[name].i18n[hunterButcher.language]}}</strong>
					<small ng-repeat="(n,q) in recipe.ingredients" ng-if="hunterButcher.nameExists(n)">
						{{ hunterButcher.nameExists(n) + ' x '+ hunterButcher.setQuantityIngredient(q,recipe.quantity) + helper.needComa($index,recipe.ingredients) }}
					</small>
				</div>
				<div class="erase icon-trash" ng-click="hunterButcher.delRecipe(name)">
					<span class="visuallyhidden">Delete Recipe</span>
				</div>
			</div>
		</div>
		<div class="displayIngredientsHunterButcher">
			<ul class="vertical listIngredients">
				<li class="ingredient" ng-if="hunterButcher.getFinalStats().price>0">
					<span class="title"><strong>Name</strong></span>
					<span><strong>Quantity</strong></span>
					<span><strong>Price</strong></span>
				</li>
				<li class="ingredient" ng-repeat="(name,Q) in hunterButcher.ingredientsToCalc" ng-if="hunterButcher.nameExists(name)">
					<span class="title">{{hunterButcher.nameExists(name)}}</span>
					<span>
						{{ hunterButcher.calculateQuantity(Q,name).totalQuantity }}
					</span>
					<span class="totalNumber">
						{{ hunterButcher.ingredientsToCalc[name].totalPrice }} K
					</span>
				</li>
				<li class="ingredient" ng-if="hunterButcher.getFinalStats().price>0">
					<span class="title"></span>
					<span><strong>Total Price</strong></span>
					<span class="totalNumber">
						{{ hunterButcher.getFinalStats().price }} K
					</span>
				</li>
				<li class="ingredient" ng-if="hunterButcher.getFinalStats().price>0">
					<span class="title"></span>
					<span><strong>Total Pods</strong></span>
					<span class="totalNumber">
						{{ hunterButcher.getFinalStats().pods }}
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>