<div class="fila ingredientsContainer">
	<div class="ingredientsCalculatorContainer">
		<div class="searchBarHunterButcher">
			<input type="text"
				name="searchRecipe" 
				id="searchRecipe" 
				ng-model="ingredients.recipeSearch"
				class="searchHunterButcher" 
				placeholder="Search Recipes"
				ng-change="ingredients.onRecipeSearch()">
			<ul class="vertical listRecipes" ng-if="!!ingredients.recipeSearch">
				<li class="recipe" 
					ng-repeat="recipe in ingredients.tempRecipes track by $index"
					ng-if="!!ingredients.tempRecipes.length && !!recipe.recipe.ingredients.length && !ingredients.closeSelect"
					ng-click="ingredients.onRecipeSelect(recipe)">
					<strong>{{ recipe.name }}</strong>
					<p> 
						<small class="ingredient" ng-repeat="R in recipe.recipe.ingredients">
							{{ R.name + ' x ' + R.value }}
						</small>
					</p>
				</li>
			</ul>
		</div>
		<div class="displayRecipes">
			<div class="recipe" ng-repeat="(name,recipe) in ingredients.selectedRecipes">
				<div class="quantity">
					<input type="number" name="recipeQuantity" ng-model="recipe.quantity">
				</div>
				<div class="name">
					<strong>{{name}}</strong>
					<small ng-repeat="(n,q) in recipe.ingredients">
						{{}}
					</small>
				</div>
				<div class="erase icon-trash" ng-click="ingredients.delRecipe(name)">
					<span class="visuallyhidden">Delete Recipe</span>
				</div>
			</div>
		</div>
		<div class="displayIngredientsHunterButcher">
			<ul class="vertical listIngredients">
				<li class="ingredient" ng-if="ingredients.getFinalStats().price>0">
					<span class="title"><strong>Name</strong></span>
					<span><strong>Quantity</strong></span>
					<span><strong>Price</strong></span>
				</li>
				<li class="ingredient" ng-repeat="(name,Q) in ingredients.ingredientsToCalc">
					<span class="title">{{name}}</span>
					<span>
						{{ ingredients.calculateQuantity(Q,name).totalQuantity }}
					</span>
					<span class="totalNumber">
						{{ ingredients.ingredientsToCalc[name].totalPrice }} K
					</span>
				</li>
				<li class="ingredient" ng-if="ingredients.getFinalStats().price>0">
					<span class="title"></span>
					<span><strong>Total Price</strong></span>
					<span class="totalNumber">
						{{ ingredients.getFinalStats().price }} K
					</span>
				</li>
				<li class="ingredient" ng-if="ingredients.getFinalStats().price>0">
					<span class="title"></span>
					<span><strong>Total Pods</strong></span>
					<span class="totalNumber">
						{{ ingredients.getFinalStats().pods }}
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>