        <div id="data" class="fila">
            <h2>Insert your data</h2>
            <label for="expBase">
                Base experience
                <input 
                    type="number" 
                    name="expBase" min="0" max="581688" id="expBase" 
                    ng-model="profession.exp"
                    placeholder="{{ profession.exp }}">
            </label>
            <label for="nivelFinal">
                Goal Lvl
                <input 
                    type="number" 
                    name="nivelFinal" min="1" max="100"
                    id="nivelFinal" 
                    ng-model="profession.level"
                    placeholder="{{ profession.level }}">
            </label>
        </div><!--end #data-->
        <error-msg></error-msg>

        <div id="professions" class="fila">
            <h2>Select your Profession</h2>
            <profesiones-lista profession="profession">
            </profesiones-lista>
        </div><!--end #professions-->

        <div class="row" 
            ng-if="profession.loadedInfo()" 
            ng-controller="ResultsController">
            <show-level></show-level>

            <div id="resultado" class="fila">
                <profession-gathering></profession-gathering>

                <div id="crafts" class="dorado" ng-class="{grande:results.isGathering}">
                    <h2>List of Recipes</h2>
                    <div class="loader activo">
                        <div id="Slot{{slots}}" 
                            ng-repeat="(slots,recipes) in crafts" 
                            class="slots" 
                            ng-class="{expanded:results.slots[slots].desplegado}">
                            <slots profession="profession"
                                results="results"
                                slots="{{slots}}">
                            </slots>
                            
                            <div class="recipeList" ng-if="results.slots[slots].desplegado">
                                <div class="searchBox">
                                    <input type="text" 
                                        name="searchBox-{{slots}}" 
                                        id="searchBox-{{slots}}" 
                                        placeholder="Search a Recipe"
                                        ng-model="results.slots[slots].search">
                                </div>
                                <recetas></recetas>
                            </div><!--end .recipeList-->
                        </div><!--end .slots-->
                    </div><!--end .loader-->
                </div><!--end #crafts.dorado.grande-->
            </div><!--end #resultado-->
        </div>

        
        

        